In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from dateutil.relativedelta import relativedelta
from datetime import *

In [2]:
import os
os.getcwd()

'C:\\Users\\2180033\\Desktop\\python_begins\\WAVVE'

## 서비스 데이터 읽기 : 69,708 rows, 14 columns
  - Rephurchase 정보 포함

In [3]:
df_service = pd.read_csv('Train/train_service.csv', parse_dates=['registerdate', 'enddate'], infer_datetime_format=True)
df_service.sample(3)

,uno,registerdate,enddate,productcode,pgamount,chargetypeid,concurrentwatchcount,promo_100,coinReceived,Repurchase,devicetypeid,isauth,gender,agegroup
14266,e70e71811274ea8efe37caf9e76685cbfadfe12dc7a576...,2021-03-02 11:57:18,2021-04-02 11:57:18,pk_1508,9.99,140,1,NaN,NaN,O,ios,NaN,NaN,40
4929,98e4f975a8ba33cad81b760b4f7926231caa1e75db97fd...,2021-03-06 17:26:12,2021-04-06 17:26:12,pk_1487,100.00,180,1,O,NaN,O,mobile,Y,F,20
17048,7b7f05ed3694c262ef211dda30a25f3df20d85c90b863d...,2021-03-01 18:35:18,2021-04-01 18:35:18,pk_1487,100.00,180,1,O,NaN,O,mobile,Y,F,20

In [4]:
df_service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69708 entries, 0 to 69707
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   uno                   69708 non-null  object
 1   registerdate          69708 non-null  datetime64[ns]
 2   enddate               69708 non-null  datetime64[ns]
 3   productcode           69708 non-null  object
 4   pgamount              69708 non-null  float64
 5   chargetypeid          69708 non-null  int64
 6   concurrentwatchcount  69708 non-null  int64
 7   promo_100             35729 non-null  object
 8   coinReceived          12564 non-null  object
 9   Repurchase            69708 non-null  object
 10  devicetypeid          69708 non-null  object
 11  isauth                51727 non-null  object
 12  gender                58228 non-null  object
 13  agegroup              69708 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(3), object(8)
memory usage: 7.4+ MB

## 시청 이력 데이터 읽기 : 7,987,609 rows

In [5]:
df_bookmark = pd.read_csv("Train/train_bookmark.csv", parse_dates=['dates'], infer_datetime_format=True)
df_bookmark.sample(3)

,uno,dates,hour,channeltype,programid,title,contentid,contentnumber,section,viewtime,devicetype
4752587,b4897f2c1f72def37215de066151dae79e155d3700fdc0...,2021-03-09,23,V,S01_P453505934,펜트하우스 2,S01_E454130106.1,3,1,390,2
7093574,0000555c21e7942b8281c8068c2b5be0a628b8a1a3cbea...,2021-03-16,21,V,C8201_C82000000153,주니토니 영어동요 Story Musical,C8201_C82000000153_01_0011.1,11,6,420,27
932227,2ad4e54b8184d92e76403fddf0fea0898e4c0e457db973...,2021-03-16,19,M,MOVIE,시스터 액트 2,MV_CA01_DY0000011170,NaN,M01,580,4

In [6]:
df_bookmark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824112 entries, 0 to 7824111
Data columns (total 11 columns):
 #   Column         Dtype
---  ------         -----
 0   uno            object
 1   dates          datetime64[ns]
 2   hour           int64
 3   channeltype    object
 4   programid      object
 5   title          object
 6   contentid      object
 7   contentnumber  object
 8   section        object
 9   viewtime       int64
 10  devicetype     int64
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 656.6+ MB

In [7]:
df_coin = pd.read_csv("Code/coin.csv")
df_coin.sample(3)

,uno,productcode,registerdate,paymenttypeid,currencytypeid,totalamount,pgamount,coinamount,bonusamount,discountamount,productname,coinexpiredate
2759,8e150cf0082dee715190591d1e6407552cdee9b3dfc429...,co_391,2021-03-02 02:38:57,1,1,10000.0,0.0,0.0,10000.0,0.0,NaN,2021-04-03 23:59:59
8250,e433092ccbd07df0d97740d6f3389c0593d4dbd16eb0fc...,pk_1487,2021-03-10 09:38:31,9,1,-6000.0,0.0,-6000.0,0.0,0.0,Basic,NaN
7305,b443e7ba18d28456dc36814fe8162cf7e1f33b966452fb...,pk_1487,2021-03-04 23:21:21,9,1,-300.0,0.0,-300.0,0.0,0.0,Basic,NaN

## 서비스, 시청 이력 데이터 Unique Value

In [8]:
# Column 별 unique values
for column in df_service.columns.values.tolist():
    unique_value_list = df_service[column].unique()
    print(f'Column <{column}>', len(unique_value_list))
    print(unique_value_list[:10], '\n')

Column <uno> 69145
['b3d6846338d0e98b7e0fcf735c49271ff59df86bfd78f3d75c03d99136f8e0d07bb55627eac3e9a288c20c74cee8641bbdff95108d737b7df108f281d6bbba29'
 '4ec765db76545c1d6dda9f421590bf9d02f584009f8d92100afeef4594ee72306b661c43d19086f82f85f02bbb5716280f52bb7f0fde823a0656a830a0e6e41f'
 '304cacae950e53952afebff0b212f5bfef6a5a0abb4c450879e853055b88063bfc32ee48bea746e952c79f1e1d619db50570991d74d5e19afeb32c5ce1b630dc'
 '4f86d917c53cb6bd8949f76dba7260311e8c1748748a028efd353137a1d459f7c12f6c2af10aec81da39c3bfe8a2d913fd24c26403b0aecba90b11ed2611ad5c'
 '445fb8813626d3d49b94b5be58cd76d80ed31fa94f8372618142c34471e001896e2d3b02a04ad6e2ceb35d91f0305d51eac4ed30a6925db9fcf37d2b8521a2cf'
 'd87ce5040893986019ea58ba1d1df033b8bc6dc03c11634b7bd47c36a5f5c8623993a63f306321dd0f3b69284b006a2643bc4e7ae55d71131389fc176b3db39b'
 '01b16f9f7ff29b48b1ee0d1a89d1eb9662474e5eedb8c2d967ea43793d3f9d03a560771374901302484d7598e771f39abbd8766c54f38753186b3f17eee9fb48'
 '6722de45f1c29af6057973492fed22c05e63a7bc90203d5120b82dc2ced581c9eb915b1c8fbea5c8f30dbac16327afa2c41c05827babbd269c1379706c85f6c1'
 '3b40a82f208b8112f58feacc2881bb0647161c358543eaa4ce4e5a830a5612a15146f2d1d84a8b8d3f09f2afa2ce59ba781fee7a52c1827e5b350dc4cc1b067b'
 '4b73d53e6e26722b953f6e77a52cdcf46a4290c7c60cd0620c96010ec635f087c348f0a3f76221e1ed2fcde0f200cf6e25657653a10137422915f1e38ae0f128']

Column <registerdate> 65748
['2021-03-09T16:31:15.000000000' '2021-03-09T14:33:07.000000000'
 '2021-03-09T12:00:01.000000000' '2021-03-09T22:23:12.000000000'
 '2021-03-09T10:32:36.000000000' '2021-03-09T16:13:05.000000000'
 '2021-03-09T02:55:18.000000000' '2021-03-10T21:31:39.000000000'
 '2021-03-10T04:02:38.000000000' '2021-03-10T00:23:17.000000000']

Column <enddate> 65810
['2021-04-09T16:31:15.000000000' '2021-04-09T14:33:07.000000000'
 '2021-04-09T12:00:01.000000000' '2021-04-09T22:23:12.000000000'
 '2021-04-09T10:32:36.000000000' '2021-04-09T16:13:05.000000000'
 '2021-04-09T02:55:18.000000000' '2021-04-10T21:31:39.000000000'
 '2021-04-10T04:02:38.000000000' '2021-04-10T00:23:17.000000000']

Column <productcode> 88
['pk_1487' 'pk_2026' 'pk_1508' 'pk_1489' 'pk_1488' 'pk_1136' 'pk_2025'
 'pk_1506' 'pk_2005' 'pk_2029']

Column <pgamount> 50
[7.900e+03 1.000e+02 1.090e+04 9.990e+00 1.390e+04 1.099e+01 1.349e+01
 6.700e+03 1.649e+01 6.950e+03]

Column <chargetypeid> 10
[134 190 151 132 140 180 131 170 160 121]

Column <concurrentwatchcount> 4
[1 2 4 3]

Column <promo_100> 2
[nan 'O']

Column <coinReceived> 2
[nan 'O']

Column <Repurchase> 2
['X' 'O']

Column <devicetypeid> 11
['android' 'pc' 'ios' 'mobile' 'lgtv' 'sstv' 'ott' 'lgchplus' 'smarttv'
 'ssfamilyhub']

Column <isauth> 2
['Y' nan]

Column <gender> 3
['F' nan 'M']

Column <agegroup> 22
[45 25 35 55 40 20  0 30 50 60]

In [9]:
for column in df_bookmark.columns.values.tolist():
    unique_value_list = df_bookmark[column].unique()
    print(f'Column <{column}>', len(unique_value_list))
    print(unique_value_list[:10], '\n')

Column <uno> 67306
['b3d6846338d0e98b7e0fcf735c49271ff59df86bfd78f3d75c03d99136f8e0d07bb55627eac3e9a288c20c74cee8641bbdff95108d737b7df108f281d6bbba29'
 '4ec765db76545c1d6dda9f421590bf9d02f584009f8d92100afeef4594ee72306b661c43d19086f82f85f02bbb5716280f52bb7f0fde823a0656a830a0e6e41f'
 '304cacae950e53952afebff0b212f5bfef6a5a0abb4c450879e853055b88063bfc32ee48bea746e952c79f1e1d619db50570991d74d5e19afeb32c5ce1b630dc'
 '4f86d917c53cb6bd8949f76dba7260311e8c1748748a028efd353137a1d459f7c12f6c2af10aec81da39c3bfe8a2d913fd24c26403b0aecba90b11ed2611ad5c'
 '445fb8813626d3d49b94b5be58cd76d80ed31fa94f8372618142c34471e001896e2d3b02a04ad6e2ceb35d91f0305d51eac4ed30a6925db9fcf37d2b8521a2cf'
 'd87ce5040893986019ea58ba1d1df033b8bc6dc03c11634b7bd47c36a5f5c8623993a63f306321dd0f3b69284b006a2643bc4e7ae55d71131389fc176b3db39b'
 '01b16f9f7ff29b48b1ee0d1a89d1eb9662474e5eedb8c2d967ea43793d3f9d03a560771374901302484d7598e771f39abbd8766c54f38753186b3f17eee9fb48'
 '6722de45f1c29af6057973492fed22c05e63a7bc90203d5120b82dc2ced581c9eb915b1c8fbea5c8f30dbac16327afa2c41c05827babbd269c1379706c85f6c1'
 '3b40a82f208b8112f58feacc2881bb0647161c358543eaa4ce4e5a830a5612a15146f2d1d84a8b8d3f09f2afa2ce59ba781fee7a52c1827e5b350dc4cc1b067b'
 '4b73d53e6e26722b953f6e77a52cdcf46a4290c7c60cd0620c96010ec635f087c348f0a3f76221e1ed2fcde0f200cf6e25657653a10137422915f1e38ae0f128']

Column <dates> 32
['2021-03-20T00:00:00.000000000' '2021-03-13T00:00:00.000000000'
 '2021-03-16T00:00:00.000000000' '2021-03-18T00:00:00.000000000'
 '2021-03-12T00:00:00.000000000' '2021-03-14T00:00:00.000000000'
 '2021-03-28T00:00:00.000000000' '2021-03-21T00:00:00.000000000'
 '2021-03-26T00:00:00.000000000' '2021-03-09T00:00:00.000000000']

Column <hour> 24
[17 15  6 19  7 10  9  5 21 18]

Column <channeltype> 4
['V' 'M' 'L' 'E']

Column <programid> 6381
['S01_P453505934' 'M_T60403G' 'K02_T2020-0370' 'S01_V2000009613'
 'K02_T2020-1631' 'MOVIE' 'F2401_F24000000004' 'M_T70613G' 'M_T50132S'
 'M_T70590S']

Column <title> 12361
['펜트하우스 2' '밥이 되어라' '오! 삼광빌라!' '미운 우리 새끼' '일일드라마 미스 몬테크리스토'
 '스티브 잡스: 미래를 읽는 천재' '아직 낫서른' '아무튼 출근!' '집콕콘서트' '(파일럿)아무튼 출근!']

Column <contentid> 138168
['S01_E454434900.1' 'M_EP202103053628.1' 'S01_E454336041.1'
 'K02_PS-2021033047-01-000.1' 'M_EP202103123716.1' 'S01_E454130151.1'
 'S01_E454542949.1' 'S01_E454229316.1' 'S01_E454229327.1'
 'PQV_S01_E454448970.1']

Column <contentnumber> 5162
['9' '42' '7' '50' '43' '4' '12' '5' '6' '234']

Column <section> 20
['1' '2' 'M08' '3' '9' 'M06' 'M02' 'M01' 'M04' 'M05']

Column <viewtime> 882
[1650 1670 1800 2080 1680   10 1290  480   40 1720]

Column <devicetype> 14
[ 4  1 32 21  2  5 27  3 12  6]

In [10]:
for column in df_coin.columns.values.tolist():
    unique_value_list = df_coin[column].unique()
    print(f'Column <{column}>', len(unique_value_list))
    print(unique_value_list[:10], '\n')

Column <uno> 9081
['d9c963233a89d1055ef15db12f4136a8bbf791a84e294b08a53191a91120b4a50870f538858eb3e49155edaa5742129c7bcebe00a1b59122f27426a8fa4e37bb'
 'a708d5411f7268b31202f0834cfaa7dbc0e312282223eb78a64d407e98cec09b071d9edf2db3ac951ba4970672c0daee58d8c2162315424f258e4744b507f737'
 '951cb354d51cbd25f89b7062ff645e664f72380bd3d62043fe6536029484bde6eab2d2105649c63a18e91c031844840c196860fe6bd35b4095a36bfc835d383c'
 '00520e6bb5897554e091dd28cd4a126634011fa0ff540b52abc8f86efd52a9a53030ecf4f28b04a36570ff0d11a1c785a16d33035bfa428340a18d71336cbf09'
 '8b8b015aaf8534bae4da18fa2ff09e1531baf89c4063f06537803beaa49f43200e71bba2b7cf78fa3f99b0ded442173f8bc0230ee50041c898c51d3d04e5ac4f'
 '52b8258cca97835291387e1e1d163c887f0e0319a9c06998bac381708f0606a18cf372b8c368fea8bf40485fe3f144d65e4aa511f6cb4815024e520fa47930dc'
 '2aae01ce1c9f03a83250ea56ef0bd080c65b34d65be91cf8af719e6634d16c95bc127942860c139ab726eb59013bfa4aa300e13188d05a13acf459ee28ab9631'
 '4652987fc3cebe3556c6c86df8a554454e2356f4d86448c27531481b97dd7ee2b363ec48866034513d8fc107e360516ada2eb9d304332274c9c40b765ab83890'
 '23d628d7ce0fc7e212252e02a82e5f79314255ed93582315e4ab9d56767fd2945e5d9f26b827c8af8fc9339a96965cf872b0c9834fe8a2a041d803fc44902304'
 'f1a085533964c37449d74b0bd52807ef4d45e5f43bf01c7438a0ffcb0911432f612aa22abdf0a9f8abdac9822d8366f35b15666acf1059008ba09358534efb21']

Column <productcode> 670
['co_391' 'pk_1960' 'pk_2003' 'ii_80332' 'ii_32741' 'ii_70259' 'ic_44'
 'pk_1487' 'ii_76565' 'ii_46504']

Column <registerdate> 10892
['2021-03-28 21:55:10' '2021-03-28 22:08:20' '2021-03-28 20:29:24'
 '2021-03-28 18:35:36' '2021-03-28 18:38:36' '2021-03-28 19:14:43'
 '2021-03-28 19:17:40' '2021-03-28 10:28:41' '2021-03-28 10:22:29'
 '2021-03-28 18:38:55']

Column <paymenttypeid> 6
[ 1  2  9  3 10  4]

Column <currencytypeid> 1
[1]

Column <totalamount> 173
[10000.  7150.  4950. 11000.  1100.  1200. -1500.  1000. -2800. -2300.]

Column <pgamount> 168
[    0.  1350. 10500.   100. 10000.   590.  1440.   400.  2100. -3000.]

Column <coinamount> 280
[    0.  7150.  3600.   500.  1100.  1200.  1000. -1500. -2800. -2300.]

Column <bonusamount> 48
[ 10000.      0.   1000.   2300. -10000.   8000.   4000.   3750.    500.
   5460.]

Column <discountamount> 1
[0.]

Column <productname> 711
[nan '영화 (자막) 어벤져스: 엔드게임 + 부가영상 패키지' '영화 (자막)+(더빙) 명탐정 피카츄 패키지'
 '(자막) 톰과 제리' '토르: 천둥의 신' '추격자' '펜트하우스 2_12' 'Basic' '라라랜드' '아바타']

Column <coinexpiredate> 364
['2021-04-29 23:59:59' nan '2021-04-27 16:07:53' '2021-05-30 23:59:59'
 '2021-04-02 23:59:59' '2021-06-01 23:59:59' '2026-03-01 05:22:04'
 '2026-03-01 14:35:33' '2026-03-01 17:28:00' '2026-03-01 02:24:46']

## 서비스 데이터 결측치 및 이상치 처리

In [11]:
filled_service = df_service

In [12]:
service_missing_info = pd.DataFrame(filled_service.isnull().sum().sort_values(ascending=False), columns=['missing num'])
service_missing_info['%'] = service_missing_info['missing num']/filled_service.shape[0]*100
service_missing_info

                      missing num          %
coinReceived                57144  81.976244
promo_100                   33979  48.744764
isauth                      17981  25.794744
gender                      11480  16.468698
agegroup                        0   0.000000
devicetypeid                    0   0.000000
Repurchase                      0   0.000000
concurrentwatchcount            0   0.000000
chargetypeid                    0   0.000000
pgamount                        0   0.000000
productcode                     0   0.000000
enddate                         0   0.000000
registerdate                    0   0.000000
uno                             0   0.000000

In [13]:
# gender null --> N
filled_service['gender'] = filled_service['gender'].fillna('N')
filled_service['gender'].value_counts()

F    36591
M    21637
N    11480
Name: gender, dtype: int64

In [14]:
# agegroup outlier (0살, 950살) --> mean
filled_service['agegroup'].value_counts().sort_index()

0        608
5          2
10         1
15      1227
20      9562
25     12099
30     10435
35      6905
40     19281
45      3739
50      2725
55      1385
60       885
65       414
70       209
75       129
80        70
85        20
90         9
95         1
120        1
950        1
Name: agegroup, dtype: int64

In [15]:
filled_service.shape

(69708, 14)

In [16]:
age_mean = filled_service.loc[(filled_service['agegroup']<950) & (filled_service['agegroup']>0), 'agegroup'].mean()
age_mean

33.74035803701935

In [17]:
filled_service['agegroup'] = filled_service['agegroup'].replace(950, 30)
filled_service['agegroup'] = filled_service['agegroup'].replace(0, 30)
filled_service['agegroup'].value_counts().sort_index()

5          2
10         1
15      1227
20      9562
25     12099
30     11044
35      6905
40     19281
45      3739
50      2725
55      1385
60       885
65       414
70       209
75       129
80        70
85        20
90         9
95         1
120        1
Name: agegroup, dtype: int64

In [18]:
# pgamount US Dollar --> 원화
filled_service['pgamount'].value_counts().sort_index()

7.69            3
9.89           17
9.99         8313
10.99         266
13.19          12
13.49        2192
14.29          64
16.49         861
17.59           7
18.69           5
19.79           2
20.49           4
20.89           3
21.99           8
24.19           3
26.39           1
27.49           3
29.69           2
32.99           1
100.00      35729
2900.00         2
3350.00        16
3950.00       487
4900.00         9
5450.00       134
5700.00         2
5900.00        38
6210.00        19
6700.00       262
6900.00        99
6950.00       168
7900.00     12679
8100.00         1
8900.00         4
9000.00         9
9200.00         2
9810.00         1
9900.00         5
10300.00        3
10400.00        1
10900.00     5789
11550.00        1
11610.00        1
11800.00        2
12900.00        2
13750.00      119
13900.00     2350
14200.00        1
16400.00        2
16900.00        4
Name: pgamount, dtype: int64

In [19]:
filled_service.loc[(filled_service['pgamount'] < 100), 'pgamount'] = filled_service['pgamount'] * 1120
filled_service['pgamount'].value_counts().sort_index()

100.0      35729
2900.0         2
3350.0        16
3950.0       487
4900.0         9
5450.0       134
5700.0         2
5900.0        38
6210.0        19
6700.0       262
6900.0        99
6950.0       168
7900.0     12679
8100.0         1
8612.8         3
8900.0         4
9000.0         9
9200.0         2
9810.0         1
9900.0         5
10300.0        3
10400.0        1
10900.0     5789
11076.8       17
11188.8     8313
11550.0        1
11610.0        1
11800.0        2
12308.8      266
12900.0        2
13750.0      119
13900.0     2350
14200.0        1
14772.8       12
15108.8     2192
16004.8       64
16400.0        2
16900.0        4
18468.8      861
19700.8        7
20932.8        5
22164.8        2
22948.8        4
23396.8        3
24628.8        8
27092.8        3
29556.8        1
30788.8        3
33252.8        2
36948.8        1
Name: pgamount, dtype: int64

In [20]:
# 나머지 결측치는 X로 처리 (O or null인 경우)
filled_service.isnull().sum()

uno                         0
registerdate                0
enddate                     0
productcode                 0
pgamount                    0
chargetypeid                0
concurrentwatchcount        0
promo_100               33979
coinReceived            57144
Repurchase                  0
devicetypeid                0
isauth                  17981
gender                      0
agegroup                    0
dtype: int64

In [21]:
filled_service = filled_service.fillna('X')
filled_service.isnull().sum()

uno                     0
registerdate            0
enddate                 0
productcode             0
pgamount                0
chargetypeid            0
concurrentwatchcount    0
promo_100               0
coinReceived            0
Repurchase              0
devicetypeid            0
isauth                  0
gender                  0
agegroup                0
dtype: int64

In [22]:
os.getcwd()

'C:\\Users\\2180033\\Desktop\\python_begins\\WAVVE'

## filled service 저장

In [23]:
filled_service.to_csv(path_or_buf="Train/filled_service.csv", index=False)

In [24]:
filled_service = pd.read_csv("Train/filled_service.csv")

In [25]:
filled_service

,uno,registerdate,enddate,productcode,pgamount,chargetypeid,concurrentwatchcount,promo_100,coinReceived,Repurchase,devicetypeid,isauth,gender,agegroup
0,b3d6846338d0e98b7e0fcf735c49271ff59df86bfd78f3...,2021-03-09 16:31:15,2021-04-09 16:31:15,pk_1487,7900.0,134,1,X,X,X,android,Y,F,45
1,4ec765db76545c1d6dda9f421590bf9d02f584009f8d92...,2021-03-09 14:33:07,2021-04-09 14:33:07,pk_1487,100.0,190,1,O,O,X,pc,Y,F,25
2,304cacae950e53952afebff0b212f5bfef6a5a0abb4c45...,2021-03-09 12:00:01,2021-04-09 12:00:01,pk_2026,10900.0,151,2,X,O,O,android,Y,F,35
3,4f86d917c53cb6bd8949f76dba7260311e8c1748748a02...,2021-03-09 22:23:12,2021-04-09 22:23:12,pk_1487,100.0,132,1,O,X,X,android,X,F,55
4,445fb8813626d3d49b94b5be58cd76d80ed31fa94f8372...,2021-03-09 10:32:36,2021-04-09 10:32:36,pk_1508,11188.8,140,1,X,X,O,ios,X,N,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69703,1f8ab90fc1ae5c226d1caa92c97e6d65021375fe2741b2...,2021-03-02 01:51:00,2021-04-02 01:51:00,pk_2026,100.0,151,2,O,X,X,android,Y,F,25
69704,58ea1be6de7c5b1af8b2395386b42f377c209c43f90493...,2021-03-02 00:34:06,2021-04-02 00:34:06,pk_1508,11188.8,140,1,X,X,O,ios,X,N,40
69705,5b14d5322d801571e42101d4d91642f8f7b52a4fcafc01...,2021-03-11 10:04:20,2021-04-11 10:04:20,pk_1494,13750.0,134,1,X,X,O,android,Y,F,20
69706,d16d0809e827fc3fc676c3850686bef8b311145248d893...,2021-03-11 21:43:13,2021-04-11 21:43:13,pk_1489,13900.0,134,4,X,X,X,sstv,Y,M,25
69707,998384efe9466eb3fed96243f6a6831de4deda30bb8dee...,2021-03-11 19:45:18,2021-04-11 19:45:18,pk_2025,7900.0,151,1,X,X,X,android,Y,F,25

In [34]:
filled_service.columns

Index(['uno', 'registerdate', 'enddate', 'productcode', 'pgamount',
       'chargetypeid', 'concurrentwatchcount', 'promo_100', 'coinReceived',
       'Repurchase', 'devicetypeid', 'isauth', 'gender', 'agegroup'],
      dtype='object')

## Decision Tree

In [31]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [35]:
X = filled_service.drop(['uno', 'registerdate', 'enddate', 'Repurchase'])
y = filled_service['Repurchase']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=47)

KeyError: "['uno' 'registerdate' 'enddate' 'Repurchase'] not found in axis"

## code 데이터 읽기
  - content info
  - movie info

In [26]:
df_content_info = pd.read_csv("Code/content_info.csv")
df_content_info.sample(3)

c:\users\2180033\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,contentid,playtime,title,preview,broaddate
166526,E01_3053836.1,NaN,극한 직업,어둠을 밝히는 실내조명의 겉 유리를 제작하는 조명 유리공장! 파이프를 이용하여 입바...,2010-07-29
90433,C9601_C96000000042_01_0009.1,523,청소차 싹싹이의 고민,"핑크퐁과 함께 자동차 마을로 떠나봐요! 재미있는 이야기 속에, 선택에 따라 바뀌는 ...",2020-01-09
287961,K02_PS-2019129290-01-000.1,488,KBS 재난방송센터,NaN,2019-08-11

In [27]:
df_movie_info = pd.read_csv("Code/movie_info.csv")
df_movie_info.sample(3)

,movieid,title_ko,title_en,nation,director,actor,targetage,description,runningtime
2411,MV_C901_SG0000036902,주온1 (비디오),"呪怨 , Ju-on , 1999",일본,시미즈다카시,"야나기유레이, 쿠리야마치아키",12,만삭의 아내를 둔 학교 선생 고바야시가 자기 반 학생 토시오의 집을 가정지도 건으로...,76
7385,MV_CH01_FX0000011132,보랏 - 카자흐스탄 킹카의 미국 문화 빨아들이기,Borat: Cultural Learnings Of America For Make ...,미국,래리 찰스,"사차 바론 코헨, 켄 데비티언, 루에넬",18,미국을 초토화시킨 맨몸의 그가 온다! 카자흐스탄 방송국 리포터인 보랏은 자신의 미국...,83
1482,MV_C3001_C300000012081,오르가즘 특강,2019,한국,김석만,"윤재, 새롬",21,방음이 되지 않는 원룸에서 취업준비를 하는 태수는 고민 끝에 대학선배 우성에게 연락...,78