In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from dateutil.relativedelta import relativedelta
from datetime import *

In [2]:
import os
os.getcwd()

'C:\\Users\\2180033\\Desktop\\python_begins\\WAVVE'

## 서비스 데이터 읽기 : 69,708 rows, 14 columns
  - Rephurchase 정보 포함

In [3]:
df_service = pd.read_csv('Train/train_service.csv', parse_dates=['registerdate', 'enddate'], infer_datetime_format=True)
df_service.sample(3)

,uno,registerdate,enddate,productcode,pgamount,chargetypeid,concurrentwatchcount,promo_100,coinReceived,Repurchase,devicetypeid,isauth,gender,agegroup
16171,69fec227b4a6a6147a7da8ebfb3f68216ae87396b57ea2...,2021-03-01 17:52:13,2021-04-01 17:52:13,pk_1487,7900.0,131,1,NaN,NaN,X,android,NaN,NaN,40
30673,0a86d28074669c9442fe2955e6a6d483269fe2c2ad87ba...,2021-03-06 21:47:29,2021-04-06 21:47:29,pk_1488,100.0,134,2,O,NaN,O,pc,Y,M,25
40995,ae0e4677b3572c7498566f38ee949d5d1b37a4426fb6d7...,2021-03-01 19:55:57,2021-04-01 19:55:57,pk_1487,100.0,180,1,O,NaN,X,pc,Y,F,45

In [4]:
df_service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69708 entries, 0 to 69707
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   uno                   69708 non-null  object
 1   registerdate          69708 non-null  datetime64[ns]
 2   enddate               69708 non-null  datetime64[ns]
 3   productcode           69708 non-null  object
 4   pgamount              69708 non-null  float64
 5   chargetypeid          69708 non-null  int64
 6   concurrentwatchcount  69708 non-null  int64
 7   promo_100             35729 non-null  object
 8   coinReceived          12564 non-null  object
 9   Repurchase            69708 non-null  object
 10  devicetypeid          69708 non-null  object
 11  isauth                51727 non-null  object
 12  gender                58228 non-null  object
 13  agegroup              69708 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(3), object(8)
memory usage: 7.4+ MB

## 시청 이력 데이터 읽기 : 7,987,609 rows

In [5]:
df_bookmark = pd.read_csv("Train/train_bookmark.csv", parse_dates=['dates'], infer_datetime_format=True)
df_bookmark.sample(3)

,uno,dates,hour,channeltype,programid,title,contentid,contentnumber,section,viewtime,devicetype
1628457,75f6e29da556b3de7a016e06ac214057342009f60d2c9d...,2021-03-05,1,M,MOVIE,노무현과 바보들,MV_CK01_TCO000012227,NaN,M08,130,7
1428310,872838cb139e5988fe94f260950bfdda45f93cb9130950...,2021-03-02,4,M,MOVIE,엄마의 남자,MV_C901_SG0000090695,NaN,M02,200,2
1165162,00a99f8ebf2e139651b07ac4595ea95c42b5be19a2b62c...,2021-03-17,8,V,S01_P453505934,펜트하우스 2,S01_E454229316.1,5,1,80,3

In [6]:
df_bookmark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824112 entries, 0 to 7824111
Data columns (total 11 columns):
 #   Column         Dtype
---  ------         -----
 0   uno            object
 1   dates          datetime64[ns]
 2   hour           int64
 3   channeltype    object
 4   programid      object
 5   title          object
 6   contentid      object
 7   contentnumber  object
 8   section        object
 9   viewtime       int64
 10  devicetype     int64
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 656.6+ MB

In [7]:
df_coin = pd.read_csv("Code/coin.csv")
df_coin.sample(3)

,uno,productcode,registerdate,paymenttypeid,currencytypeid,totalamount,pgamount,coinamount,bonusamount,discountamount,productname,coinexpiredate
1080,1ce6d84ce7f69287ff00fca117fe11fcd6f7935052a884...,co_1476,2021-04-01 01:01:06,1,1,8000.0,0.0,0.0,8000.0,0.0,NaN,2021-07-01 23:59:59
3366,0fed88683216cecfde3a0f25c89fffe0e3594d0fbcf595...,co_391,2021-04-10 12:30:20,1,1,10000.0,0.0,0.0,10000.0,0.0,NaN,2021-05-12 23:59:59
331,413f07fae7c88d01ab8289f1b1233c92e0c41faec076ac...,co_391,2021-03-01 00:38:21,1,1,10000.0,0.0,0.0,10000.0,0.0,NaN,2021-04-02 23:59:59

## 서비스, 시청 이력 데이터 Unique Value

In [8]:
# Column 별 unique values
for column in df_service.columns.values.tolist():
    unique_value_list = df_service[column].unique()
    print(f'Column <{column}>', len(unique_value_list))
    print(unique_value_list[:10], '\n')

Column <uno> 69145
['b3d6846338d0e98b7e0fcf735c49271ff59df86bfd78f3d75c03d99136f8e0d07bb55627eac3e9a288c20c74cee8641bbdff95108d737b7df108f281d6bbba29'
 '4ec765db76545c1d6dda9f421590bf9d02f584009f8d92100afeef4594ee72306b661c43d19086f82f85f02bbb5716280f52bb7f0fde823a0656a830a0e6e41f'
 '304cacae950e53952afebff0b212f5bfef6a5a0abb4c450879e853055b88063bfc32ee48bea746e952c79f1e1d619db50570991d74d5e19afeb32c5ce1b630dc'
 '4f86d917c53cb6bd8949f76dba7260311e8c1748748a028efd353137a1d459f7c12f6c2af10aec81da39c3bfe8a2d913fd24c26403b0aecba90b11ed2611ad5c'
 '445fb8813626d3d49b94b5be58cd76d80ed31fa94f8372618142c34471e001896e2d3b02a04ad6e2ceb35d91f0305d51eac4ed30a6925db9fcf37d2b8521a2cf'
 'd87ce5040893986019ea58ba1d1df033b8bc6dc03c11634b7bd47c36a5f5c8623993a63f306321dd0f3b69284b006a2643bc4e7ae55d71131389fc176b3db39b'
 '01b16f9f7ff29b48b1ee0d1a89d1eb9662474e5eedb8c2d967ea43793d3f9d03a560771374901302484d7598e771f39abbd8766c54f38753186b3f17eee9fb48'
 '6722de45f1c29af6057973492fed22c05e63a7bc90203d5120b82dc2ced581c9eb915b1c8fbea5c8f30dbac16327afa2c41c05827babbd269c1379706c85f6c1'
 '3b40a82f208b8112f58feacc2881bb0647161c358543eaa4ce4e5a830a5612a15146f2d1d84a8b8d3f09f2afa2ce59ba781fee7a52c1827e5b350dc4cc1b067b'
 '4b73d53e6e26722b953f6e77a52cdcf46a4290c7c60cd0620c96010ec635f087c348f0a3f76221e1ed2fcde0f200cf6e25657653a10137422915f1e38ae0f128']

Column <registerdate> 65748
['2021-03-09T16:31:15.000000000' '2021-03-09T14:33:07.000000000'
 '2021-03-09T12:00:01.000000000' '2021-03-09T22:23:12.000000000'
 '2021-03-09T10:32:36.000000000' '2021-03-09T16:13:05.000000000'
 '2021-03-09T02:55:18.000000000' '2021-03-10T21:31:39.000000000'
 '2021-03-10T04:02:38.000000000' '2021-03-10T00:23:17.000000000']

Column <enddate> 65810
['2021-04-09T16:31:15.000000000' '2021-04-09T14:33:07.000000000'
 '2021-04-09T12:00:01.000000000' '2021-04-09T22:23:12.000000000'
 '2021-04-09T10:32:36.000000000' '2021-04-09T16:13:05.000000000'
 '2021-04-09T02:55:18.000000000' '2021-04-10T21:31:39.000000000'
 '2021-04-10T04:02:38.000000000' '2021-04-10T00:23:17.000000000']

Column <productcode> 88
['pk_1487' 'pk_2026' 'pk_1508' 'pk_1489' 'pk_1488' 'pk_1136' 'pk_2025'
 'pk_1506' 'pk_2005' 'pk_2029']

Column <pgamount> 50
[7.900e+03 1.000e+02 1.090e+04 9.990e+00 1.390e+04 1.099e+01 1.349e+01
 6.700e+03 1.649e+01 6.950e+03]

Column <chargetypeid> 10
[134 190 151 132 140 180 131 170 160 121]

Column <concurrentwatchcount> 4
[1 2 4 3]

Column <promo_100> 2
[nan 'O']

Column <coinReceived> 2
[nan 'O']

Column <Repurchase> 2
['X' 'O']

Column <devicetypeid> 11
['android' 'pc' 'ios' 'mobile' 'lgtv' 'sstv' 'ott' 'lgchplus' 'smarttv'
 'ssfamilyhub']

Column <isauth> 2
['Y' nan]

Column <gender> 3
['F' nan 'M']

Column <agegroup> 22
[45 25 35 55 40 20  0 30 50 60]

In [9]:
for column in df_bookmark.columns.values.tolist():
    unique_value_list = df_bookmark[column].unique()
    print(f'Column <{column}>', len(unique_value_list))
    print(unique_value_list[:10], '\n')

Column <uno> 67306
['b3d6846338d0e98b7e0fcf735c49271ff59df86bfd78f3d75c03d99136f8e0d07bb55627eac3e9a288c20c74cee8641bbdff95108d737b7df108f281d6bbba29'
 '4ec765db76545c1d6dda9f421590bf9d02f584009f8d92100afeef4594ee72306b661c43d19086f82f85f02bbb5716280f52bb7f0fde823a0656a830a0e6e41f'
 '304cacae950e53952afebff0b212f5bfef6a5a0abb4c450879e853055b88063bfc32ee48bea746e952c79f1e1d619db50570991d74d5e19afeb32c5ce1b630dc'
 '4f86d917c53cb6bd8949f76dba7260311e8c1748748a028efd353137a1d459f7c12f6c2af10aec81da39c3bfe8a2d913fd24c26403b0aecba90b11ed2611ad5c'
 '445fb8813626d3d49b94b5be58cd76d80ed31fa94f8372618142c34471e001896e2d3b02a04ad6e2ceb35d91f0305d51eac4ed30a6925db9fcf37d2b8521a2cf'
 'd87ce5040893986019ea58ba1d1df033b8bc6dc03c11634b7bd47c36a5f5c8623993a63f306321dd0f3b69284b006a2643bc4e7ae55d71131389fc176b3db39b'
 '01b16f9f7ff29b48b1ee0d1a89d1eb9662474e5eedb8c2d967ea43793d3f9d03a560771374901302484d7598e771f39abbd8766c54f38753186b3f17eee9fb48'
 '6722de45f1c29af6057973492fed22c05e63a7bc90203d5120b82dc2ced581c9eb915b1c8fbea5c8f30dbac16327afa2c41c05827babbd269c1379706c85f6c1'
 '3b40a82f208b8112f58feacc2881bb0647161c358543eaa4ce4e5a830a5612a15146f2d1d84a8b8d3f09f2afa2ce59ba781fee7a52c1827e5b350dc4cc1b067b'
 '4b73d53e6e26722b953f6e77a52cdcf46a4290c7c60cd0620c96010ec635f087c348f0a3f76221e1ed2fcde0f200cf6e25657653a10137422915f1e38ae0f128']

Column <dates> 32
['2021-03-20T00:00:00.000000000' '2021-03-13T00:00:00.000000000'
 '2021-03-16T00:00:00.000000000' '2021-03-18T00:00:00.000000000'
 '2021-03-12T00:00:00.000000000' '2021-03-14T00:00:00.000000000'
 '2021-03-28T00:00:00.000000000' '2021-03-21T00:00:00.000000000'
 '2021-03-26T00:00:00.000000000' '2021-03-09T00:00:00.000000000']

Column <hour> 24
[17 15  6 19  7 10  9  5 21 18]

Column <channeltype> 4
['V' 'M' 'L' 'E']

Column <programid> 6381
['S01_P453505934' 'M_T60403G' 'K02_T2020-0370' 'S01_V2000009613'
 'K02_T2020-1631' 'MOVIE' 'F2401_F24000000004' 'M_T70613G' 'M_T50132S'
 'M_T70590S']

Column <title> 12361
['펜트하우스 2' '밥이 되어라' '오! 삼광빌라!' '미운 우리 새끼' '일일드라마 미스 몬테크리스토'
 '스티브 잡스: 미래를 읽는 천재' '아직 낫서른' '아무튼 출근!' '집콕콘서트' '(파일럿)아무튼 출근!']

Column <contentid> 138168
['S01_E454434900.1' 'M_EP202103053628.1' 'S01_E454336041.1'
 'K02_PS-2021033047-01-000.1' 'M_EP202103123716.1' 'S01_E454130151.1'
 'S01_E454542949.1' 'S01_E454229316.1' 'S01_E454229327.1'
 'PQV_S01_E454448970.1']

Column <contentnumber> 5162
['9' '42' '7' '50' '43' '4' '12' '5' '6' '234']

Column <section> 20
['1' '2' 'M08' '3' '9' 'M06' 'M02' 'M01' 'M04' 'M05']

Column <viewtime> 882
[1650 1670 1800 2080 1680   10 1290  480   40 1720]

Column <devicetype> 14
[ 4  1 32 21  2  5 27  3 12  6]

In [10]:
for column in df_coin.columns.values.tolist():
    unique_value_list = df_coin[column].unique()
    print(f'Column <{column}>', len(unique_value_list))
    print(unique_value_list[:10], '\n')

Column <uno> 9081
['d9c963233a89d1055ef15db12f4136a8bbf791a84e294b08a53191a91120b4a50870f538858eb3e49155edaa5742129c7bcebe00a1b59122f27426a8fa4e37bb'
 'a708d5411f7268b31202f0834cfaa7dbc0e312282223eb78a64d407e98cec09b071d9edf2db3ac951ba4970672c0daee58d8c2162315424f258e4744b507f737'
 '951cb354d51cbd25f89b7062ff645e664f72380bd3d62043fe6536029484bde6eab2d2105649c63a18e91c031844840c196860fe6bd35b4095a36bfc835d383c'
 '00520e6bb5897554e091dd28cd4a126634011fa0ff540b52abc8f86efd52a9a53030ecf4f28b04a36570ff0d11a1c785a16d33035bfa428340a18d71336cbf09'
 '8b8b015aaf8534bae4da18fa2ff09e1531baf89c4063f06537803beaa49f43200e71bba2b7cf78fa3f99b0ded442173f8bc0230ee50041c898c51d3d04e5ac4f'
 '52b8258cca97835291387e1e1d163c887f0e0319a9c06998bac381708f0606a18cf372b8c368fea8bf40485fe3f144d65e4aa511f6cb4815024e520fa47930dc'
 '2aae01ce1c9f03a83250ea56ef0bd080c65b34d65be91cf8af719e6634d16c95bc127942860c139ab726eb59013bfa4aa300e13188d05a13acf459ee28ab9631'
 '4652987fc3cebe3556c6c86df8a554454e2356f4d86448c27531481b97dd7ee2b363ec48866034513d8fc107e360516ada2eb9d304332274c9c40b765ab83890'
 '23d628d7ce0fc7e212252e02a82e5f79314255ed93582315e4ab9d56767fd2945e5d9f26b827c8af8fc9339a96965cf872b0c9834fe8a2a041d803fc44902304'
 'f1a085533964c37449d74b0bd52807ef4d45e5f43bf01c7438a0ffcb0911432f612aa22abdf0a9f8abdac9822d8366f35b15666acf1059008ba09358534efb21']

Column <productcode> 670
['co_391' 'pk_1960' 'pk_2003' 'ii_80332' 'ii_32741' 'ii_70259' 'ic_44'
 'pk_1487' 'ii_76565' 'ii_46504']

Column <registerdate> 10892
['2021-03-28 21:55:10' '2021-03-28 22:08:20' '2021-03-28 20:29:24'
 '2021-03-28 18:35:36' '2021-03-28 18:38:36' '2021-03-28 19:14:43'
 '2021-03-28 19:17:40' '2021-03-28 10:28:41' '2021-03-28 10:22:29'
 '2021-03-28 18:38:55']

Column <paymenttypeid> 6
[ 1  2  9  3 10  4]

Column <currencytypeid> 1
[1]

Column <totalamount> 173
[10000.  7150.  4950. 11000.  1100.  1200. -1500.  1000. -2800. -2300.]

Column <pgamount> 168
[    0.  1350. 10500.   100. 10000.   590.  1440.   400.  2100. -3000.]

Column <coinamount> 280
[    0.  7150.  3600.   500.  1100.  1200.  1000. -1500. -2800. -2300.]

Column <bonusamount> 48
[ 10000.      0.   1000.   2300. -10000.   8000.   4000.   3750.    500.
   5460.]

Column <discountamount> 1
[0.]

Column <productname> 711
[nan '영화 (자막) 어벤져스: 엔드게임 + 부가영상 패키지' '영화 (자막)+(더빙) 명탐정 피카츄 패키지'
 '(자막) 톰과 제리' '토르: 천둥의 신' '추격자' '펜트하우스 2_12' 'Basic' '라라랜드' '아바타']

Column <coinexpiredate> 364
['2021-04-29 23:59:59' nan '2021-04-27 16:07:53' '2021-05-30 23:59:59'
 '2021-04-02 23:59:59' '2021-06-01 23:59:59' '2026-03-01 05:22:04'
 '2026-03-01 14:35:33' '2026-03-01 17:28:00' '2026-03-01 02:24:46']

## 서비스, 시청 이력 데이터 결측치 및 이상치 처리

In [11]:
filled_service = df_service

In [13]:
service_missing_info = pd.DataFrame(filled_service.isnull().sum().sort_values(ascending=False), columns=['missing num'])
service_missing_info['%'] = service_missing_info['missing num']/filled_service.shape[0]*100
service_missing_info

                      missing num          %
coinReceived                57144  81.976244
promo_100                   33979  48.744764
isauth                      17981  25.794744
gender                      11480  16.468698
agegroup                        0   0.000000
devicetypeid                    0   0.000000
Repurchase                      0   0.000000
concurrentwatchcount            0   0.000000
chargetypeid                    0   0.000000
pgamount                        0   0.000000
productcode                     0   0.000000
enddate                         0   0.000000
registerdate                    0   0.000000
uno                             0   0.000000

In [14]:
# gender null --> N
filled_service['gender'] = filled_service['gender'].fillna('N')
filled_service['gender'].value_counts()

F    36591
M    21637
N    11480
Name: gender, dtype: int64

In [15]:
# agegroup outlier (0살, 950살) --> mean
filled_service['agegroup'].value_counts().sort_index()

0        608
5          2
10         1
15      1227
20      9562
25     12099
30     10435
35      6905
40     19281
45      3739
50      2725
55      1385
60       885
65       414
70       209
75       129
80        70
85        20
90         9
95         1
120        1
950        1
Name: agegroup, dtype: int64

In [16]:
filled_service.shape

(69708, 14)

In [17]:
age_mean = filled_service.loc[(filled_service['agegroup']<950) & (filled_service['agegroup']>0), 'agegroup'].mean()
age_mean

33.74035803701935

In [18]:
filled_service['agegroup'] = filled_service['agegroup'].replace(950, 30)
filled_service['agegroup'] = filled_service['agegroup'].replace(0, 30)
filled_service['agegroup'].value_counts().sort_index()

5          2
10         1
15      1227
20      9562
25     12099
30     11044
35      6905
40     19281
45      3739
50      2725
55      1385
60       885
65       414
70       209
75       129
80        70
85        20
90         9
95         1
120        1
Name: agegroup, dtype: int64

In [27]:
# pgamount US Dollar --> 원화
filled_service['pgamount'].value_counts().sort_index()

7.69            3
9.89           17
9.99         8313
10.99         266
13.19          12
13.49        2192
14.29          64
16.49         861
17.59           7
18.69           5
19.79           2
20.49           4
20.89           3
21.99           8
24.19           3
26.39           1
27.49           3
29.69           2
32.99           1
100.00      35729
2900.00         2
3350.00        16
3950.00       487
4900.00         9
5450.00       134
5700.00         2
5900.00        38
6210.00        19
6700.00       262
6900.00        99
6950.00       168
7900.00     12679
8100.00         1
8900.00         4
9000.00         9
9200.00         2
9810.00         1
9900.00         5
10300.00        3
10400.00        1
10900.00     5789
11550.00        1
11610.00        1
11800.00        2
12900.00        2
13750.00      119
13900.00     2350
14200.00        1
16400.00        2
16900.00        4
Name: pgamount, dtype: int64

In [28]:
filled_service.loc[(filled_service['pgamount'] < 100), 'pgamount'] = filled_service['pgamount'] * 1120
filled_service['pgamount'].value_counts().sort_index()

100.0      35729
2900.0         2
3350.0        16
3950.0       487
4900.0         9
5450.0       134
5700.0         2
5900.0        38
6210.0        19
6700.0       262
6900.0        99
6950.0       168
7900.0     12679
8100.0         1
8612.8         3
8900.0         4
9000.0         9
9200.0         2
9810.0         1
9900.0         5
10300.0        3
10400.0        1
10900.0     5789
11076.8       17
11188.8     8313
11550.0        1
11610.0        1
11800.0        2
12308.8      266
12900.0        2
13750.0      119
13900.0     2350
14200.0        1
14772.8       12
15108.8     2192
16004.8       64
16400.0        2
16900.0        4
18468.8      861
19700.8        7
20932.8        5
22164.8        2
22948.8        4
23396.8        3
24628.8        8
27092.8        3
29556.8        1
30788.8        3
33252.8        2
36948.8        1
Name: pgamount, dtype: int64

In [29]:
# 나머지 결측치는 X로 처리 (O or null인 경우)
filled_service.isnull().sum()

uno                         0
registerdate                0
enddate                     0
productcode                 0
pgamount                    0
chargetypeid                0
concurrentwatchcount        0
promo_100               33979
coinReceived            57144
Repurchase                  0
devicetypeid                0
isauth                  17981
gender                      0
agegroup                    0
dtype: int64

In [31]:
filled_service = filled_service.fillna('X')
filled_service.isnull().sum()

uno                     0
registerdate            0
enddate                 0
productcode             0
pgamount                0
chargetypeid            0
concurrentwatchcount    0
promo_100               0
coinReceived            0
Repurchase              0
devicetypeid            0
isauth                  0
gender                  0
agegroup                0
dtype: int64

## code 데이터 읽기
  - content info
  - movie info

In [ ]:
df_content_info = pd.read_csv("Code/content_info.csv")
df_content_info.sample(3)

In [ ]:
df_movie_info = pd.read_csv("Code/movie_info.csv")
df_movie_info.sample(3)